.sfwcomponent-required {
    border:2px solid red;
}

.sfwcomponent-fast-filter-element {
    background-color:#eee;
    border:1px solid #ccc;
    padding:0.25em;
    border-radius:0.25em;
    width:max-content;
}

.sfwcomponent-selectable-row {
    cursor:pointer;
    transition:0.3s;
    padding:0.5rem !important;
    margin:0 !important;
}

.sfwcomponent-selectable-row:hover {
    background-color:#eee;
}

.sfwcomponent-selectable-row-selected {
    border:1px solid #ccc;
    border-radius:5px;
}