.sfwcomponent-required {
    border:2px solid red;
}

.sfwcomponent-fast-filter-element {
    background-color:#eee;
    border:1px solid #ccc;
    padding:0.25em;
    border-radius:0.25em;
    width:max-content;
}

.sfwcomponent-selectable-row {
    cursor:pointer;
    transition:0.3s;
    padding:0.5rem !important;
    margin:0 !important;
}

.sfwcomponent-selectable-row:hover {
    background-color:#eee;
}

.sfwcomponent-selectable-row-selected {
    border:1px solid #ccc;
    border-radius:5px;
}

.upload__box {
    padding: 20px;
}
.upload__inputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
    
.upload__btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    min-width: 116px;
    padding: 5px;
    transition: all .3s ease;
    cursor: pointer;
    border: 2px solid;
    background-color: #4045ba;
    border-color: #4045ba;
    border-radius: 10px;
    line-height: 26px;
    font-size: 14px;
}
      
.upload__btn:hover {
    background-color: unset;
    color: #4045ba;
    transition: all .3s ease;
}
      
.upload__btn-box {
    margin-bottom: 10px;
}
    
.upload__file-wrap, .upload_video-wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
      
.upload__file-box {
    max-width: 200px;
    max-height: 150px;
    padding: 0 10px;
    margin-bottom: 12px;
}
      
.upload__file-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #4045ba;
    position: absolute;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}
.upload__file-close:after {
    content: '\2716';
    font-size: 14px;
    color: white;
}

.main_image {
    border: 5px solid #4045ba;
}

.sfwcomponent-help-text {
    border-bottom: 1px dotted #000;
    text-decoration: none;
}